@font-face {
  font-family: Rubik;
  src: url("../fonts/Rubik/Rubik-Light.ttf");
}

.app-container {
  background-color: #f7f785;
  font-family: Rubik;
  padding: 15px;
  margin: auto;
  width: 75%;
  box-shadow: 5px 4px 20px black;
  margin-top: 18px;
  @include for-phone-layout {
    width: 100%;
  }

  h3 {
    margin: 0;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .todo-container {
    border-bottom: 1px solid black;
    font-size: 1rem;
    padding: 0px 5px 2px;


    .todo-checkbox {
      margin-right: 10px;
    }
  }

  .btn {
    margin: 0px 5px;
    width: 35px;
  }

  .container {
    height: 85vh;
    overflow: scroll;
  }

  .form-container {
    padding: 0px 5px 2px;
    height: 46px;
    border-bottom: 1px solid;
    margin-bottom: 5px;
    .txt-input {
      width: 100%;
      background: inherit;
      border: none;
      :placeholder-shown{
        font-weight: 700;

      }
    }

    img {
      width: 36px;
    }
  }
}
